<a href="https://colab.research.google.com/github/carloscesar182/ai_advanced_course/blob/main/Notebooks/PythonFundamentals/DicionariosSetsTuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# dicionários: estrutura chave:valor
Notas = {'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}
print(Notas)
print(Notas['João'])

{'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}
6.0

In [4]:
# todas as chaves
Notas.keys()

dict_keys(['João', 'Maria', 'Pedro'])

In [5]:
# todos os valores
Notas.values()

dict_values([6.0, 8.0, 6.5])

In [6]:
# testa logicamente a existência
print('João' in Notas)
print('Fernando' in Notas)

True
False

In [7]:
# deleta um valor
del Notas['João']
print(Notas)

{'Maria': 8.0, 'Pedro': 6.5}

In [15]:
# inclui um elemento
Notas['Ana'] = 9
print(Notas)

{'Maria': 8.0, 'Pedro': 6.5, 'Ana': 9}

In [11]:
# update no valor da chave
Notas.update({'Ana': 9})
print(Notas)

{'Maria': 8.0, 'Pedro': 6.5, 'Ana': 9}

In [13]:
# busca um valor. Se não encontrar, mostra um segundo parametro
Notas.get('Simone', 'Não encontrado!')

'Não encontrado!'

In [16]:
# sets
#são conjuntos não ordenados de elementos não repetidos
bigdata = {'Spark', 'Hive', 'Sqoop'}
print(bigdata)

{'Spark', 'Sqoop', 'Hive'}

In [17]:
# verifica existência
print('Spark' in bigdata)

True

In [18]:
# adiciona elemento
bigdata.add('Hadoop')
bigdata

{'Hadoop', 'Hive', 'Spark', 'Sqoop'}

In [19]:
# número de elementos
print(len(bigdata))

4

In [20]:
# adicionar um elemento repetido
bigdata.add('Spark') # não vai adicionar e nem gerar erro pq a natureza dos sets já trata isso
bigdata

{'Hadoop', 'Hive', 'Spark', 'Sqoop'}

In [26]:
# tuplas
# são listas que não podem ser alteradas
# tuplas usam parênteses como sintaxe, listas usam chaves
tupla = (1, 2, 3, 4, 5, 6, 7)
print(tupla)
print(tupla[0])
print(len(tupla))

(1, 2, 3, 4, 5, 6, 7)
1
7

In [27]:
# dicionário em que cada posição recebe uma tupla
dic2 = {(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4,(5, 6): 5,
 (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
dic2

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9}

In [28]:
# ver os tipos de cada conjunto
print(type(Notas))
print(type(bigdata))
print(type(tupla))

<class 'dict'>
<class 'set'>
<class 'tuple'>